@use "sass:math";
@import '../../../public/styles/mixin.scss';

$boxSize : 50px; $boxRadius: math.div($boxSize, 10);
.box{
    border-radius: $boxRadius;
    height: $boxSize; width: $boxSize;
    // background: radial-gradient(rgb(209, 231, 255),rgb(159, 207, 255));
    // background: radial-gradient(rgba(104, 165, 231, 0.274),rgba(161, 191, 221, 0.329));
    background: repeating-linear-gradient(45deg, rgb(230, 230, 230) 1px, rgba(255, 255, 255, 0) 5px);

    // background: radial-gradient(rgb(0, 85, 175),rgb(114, 183, 252));
    // background-color: rgba(118, 194, 224, 0.253);
    // color: skyblue;

    @include center();
    &:hover{ background-color: rgb(245, 245, 245);}
    &:active{
        background: repeating-linear-gradient(45deg, rgb(187, 223, 252) 1px, rgba(255, 255, 255, 0) 5px);

        // repeating-linear-gradient(-45deg, blue, blue 2px, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 10px);    
    }
    &[color="week"]{
        // border: 1px solid;
        // height: 25px;
        background: none;
        // &:hover{ background-color: none;}    
    }
    &[color="today"]{
        color: blue;
        font-weight: bold;
    }
}

